_build
_build-win-x64
doc/**
test/**
games/wolf/*.wl6
games/wolf/*.exe
games/wolf/*.EXE
games/wolf/*.EXE.orig
games/monkey/*
games/lotus3/*
games/*.EXE
games/*.MAP
games/another/*
games/prehist2/*
games/priv/*
games/tie/*
games/tyrian/*
games/wc1/*
games/xwing/*
win-x64/SDL*
wolf_src
