_build
_build-win-x64
doc/**
test/**
games/wolf/*.WL6
games/wolf/*.EXE
games/wolf/*.EXE.orig
games/monkey/*.lfl
games/monkey/*.LFL
games/monkey/*.lec
games/monkey/*.LEC
games/monkey/*.EXE
games/lotus3/*.EXE
games/lotus3/*.DAT
games/*.EXE
games/*.MAP
win-x64/SDL*
wolf_src
